.App {
  text-align: center;
  /* background-color: lightslategray; */
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-top: 5%;
  font-size: 20px;
}

/* wait class is the the WAIT component */

.wait {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  bottom: 10px;
  right: 10px;
  background-color: blue;
}

.wait:hover {
  background-color: lightblue;
}
.wait .tooltiptext {
  visibility: hidden;
  width: 100px;
  color: black;
  text-align: center;
  top: 0px;
  font-size: 12px;
  right: 40px;
  position: absolute;
  /* z-index: 2; */
}

.wait:hover .tooltiptext {
  visibility: visible;
}

/* join is the the JOIN component */

.join {
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: 1;
  background-color: #e6f2ff;
  border: none;
  max-height: 50%;
  bottom: 10px;
  right: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.join-header {
  display: flex;
  justify-content: right;
  cursor: pointer;
  padding: 5px;
}

.join-header .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black; /* width: 100%; /* Full width */
  color: #fff;
  text-align: center;
  top: -5px;
  font-size: 12px;
  right: 10%;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 2;
}

.join-header:hover .tooltiptext {
  visibility: visible;
  background-color: blue;
}

.join-content {
  display: flex;
  align-items: stretch;
  text-align: left;
  font-size: 14px;
}

.join-content p {
  margin: 3px;
  padding: 0px;
}

.join-content input {
  margin-bottom: 20px;
}


.join-footer {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.join-footer .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  bottom: 10px;
  font-size: 12px;
  right: 200px;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
}

.join-footer:hover .tooltiptext {
  visibility: visible;
  background-color: blue;
}

/* chat sets css for CHAT component */

.chat {
  display: flex;
  /* z-index: 1; */
  position: absolute;
  flex-direction: column;
  right: 20px;
  top: 10px;
}

.chat-header {
  display: flex;
  justify-content: right;
  cursor: pointer;
  background-color: lightblue;
  padding: 3px;
}

.chat-header .tooltiptext {
  visibility: hidden;
  width: 200px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  right: 8%;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
}

.chat-header:hover .tooltiptext {
  visibility: visible;
  background-color: blue;
}

.chat-content {
  /* display: flex; */
  /* align-items: stretch; */
}



.close {
  cursor: pointer;
}


.survey {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #e6f2ff;
  height: 90%;
  width: 400px;
  bottom: 10px;
  right: 10px;
  padding: 3px;
}

.survey-content {
  display: flex;
  height: 100%;
}
.survey-header {
  display: flex;
  justify-content: right;
  cursor: pointer;
}

.survey-footer {
  display: flex;
  height: 3px;
}

.survey-header .tooltiptext {
  visibility: hidden;
  width: 140px;
  color: #fff;
  text-align: center;
  top: -5px;
  font-size: 12px;
  right: 10%;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
}

.survey-header:hover .tooltiptext {
  visibility: visible;
  background-color: blue;
}
