.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: lightslategray;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-top: 5%;
  font-size: 20px;
}

.App-header .image {
content: url("./stream_and_surveylegend.png");
}

.App-link {
  color: #61dafb;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  background-color: #e6f2ff;
  border: none;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 600px;
  box-sizing: border-box;
  bottom: 10px;
  right: 10px;
  padding-top: 5px;
}

.modal-content {
  width: 100%;
  point-events: all;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /*Enable scroll if needed
  background-color: #fff /* Fallback color */
  /* background-color: #e6f2ff; Black w/ opacity */
}

.close {
cursor: pointer;
}

.close .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  top: -5px;
  font-size:  10px;
  right: 10%;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 2;
}

.close:hover .tooltiptext {
  visibility: visible;
}

.wait {
  position: absolute;
  width:45px;
  height: 45px;
  border-radius: 50%;
  bottom: 10px;
  right: 30px;
  background-color: lightblue;
}

.wait .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  top: -5px;
  font-size:  10px;
  right: 50px;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 2;
}


.wait:hover .tooltiptext {
  visibility: visible;
}

.waitbutton {
  width:45px;
  height: 45px;
  border-radius: 50%;
  font-size: 30px;
  color:black;
  text-align: center;
  cursor: pointer;
}

.modal-header {
  text-align: right;
  position: sticky;
  top: 0;
  height: 15px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
}
