.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #000000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.load {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0px 16px 10px;
      padding-top: 0px;
  min-height: 100%;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /*Location of the box */
  padding-bottom: 10px;
  right: 20px;
  top: 10px;
  bottom: 50px;
  width: 20%; /* Full width */
  height: 75%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #e6f2ff; /* Fallback color */
  background-color: #e6f2ff; /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #e6f2ff;
  margin: auto;
  padding: 10px;
  border: 1px solid #e6f2ff;
  width: 100%;
}
